# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# OS specific
.DS_Store
Thumbs.db

# Qwen3-TTS-Openai-Fastapi
Qwen3-TTS-Openai-Fastapi/
